
<div class="well col-sm-6 col-sm-offset-3">
  <form>
    <div class="form-group">
      <label for="inputEmail">Phone Number</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Phone Number">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email (optional)</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <br><br>
  MealFinder will not share your information with any third parties.
</div>

